@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  outline: none;
}

.default-input {
  @apply text-sm py-2 px-3 rounded border border-slate-300 
  focus:border-slate-500 transition-all;
}

.btn {
  @apply font-bold rounded uppercase text-sm tracking-wide transition-all;
  outline: none;
}

.default-btn {
  @apply btn py-2 px-10  bg-slate-500 text-white hover:text-slate-500
  hover:bg-white border-2 border-slate-500 focus:border-slate-700;
}

.error-text {
  @apply mt-1 ml-1 text-red-500 text-sm;
}
